script(src=resourceBasePath + 'js/handlebars.js')
script(src=resourceBasePath + 'js/jquery.js')
script(src=resourceBasePath + 'js/mousetrap.js')
script(src=resourceBasePath + 'js/mousetrap_config.js')
script(src=resourceBasePath + '../bullets.js')